@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Barlow+Condensed:wght@700;800&display=swap');

@reference "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1A1A1A;
  color: white;
  font-family: 'Barlow', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar customizado */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #1A1A1A;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E85D04;
}
